<div class="card my-5">
    <div class="card-body">
        <form #userForm="ngForm">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" [(ngModel)]="bloodCenter.name" class="form-control" id="name" name="name" required
                    #name="ngModel">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" [(ngModel)]="bloodCenter.description" class="form-control" id="description"
                    name="description" required #description="ngModel">
            </div>
            <div class="form-group">
                <label for="averageRate">Avarage rate</label>
                <input type="text" [(ngModel)]="bloodCenter.averageRate" class="form-control" id="averageRate"
                    name="averageRate" required #averageRate="ngModel">
            </div>

            <div class="form-group">
                <button (click)="addAddress()" class="btn btn-info">Add address</button>
            </div>

            <ng-template [ngIf]="showAddress">
                <div class="form-group">
                    <label for="street">Street</label>
                    <input type="text" [(ngModel)]="address.street" class="form-control" id="street" name="street"
                        required #street="ngModel">
                </div>
                <div class="form-group">
                    <label for="streetNumber">StreetNumber</label>
                    <input type="text" [(ngModel)]="address.streetNumber" class="form-control" id="streetNumber"
                        name="streetNumber" required #streetNumber="ngModel">
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" [(ngModel)]="address.city" class="form-control" id="city" name="city" required
                        #city="ngModel">
                </div>
                <div class="form-group">
                    <label for="country">Country</label>
                    <input type="text" [(ngModel)]="address.country" class="form-control" id="country" name="country"
                        required #country="ngModel">
                </div>
            </ng-template>

            <div class="form-group">
                <button (click)="addBloodAmount()" class="btn btn-info">Add blood amount</button>
            </div>

            <ng-template [ngIf]="showBloodAmount">
                <div class="form-group">
                    <label for="a">A</label>
                    <input type="text" [(ngModel)]="bloodAmount.a" class="form-control" id="a" name="a" required
                        #a="ngModel">
                </div>
                <div class="form-group">
                    <label for="b">B</label>
                    <input type="text" [(ngModel)]="bloodAmount.b" class="form-control" id="b" name="b" required
                        #b="ngModel">
                </div>
                <div class="form-group">
                    <label for="ab">AB</label>
                    <input type="text" [(ngModel)]="bloodAmount.ab" class="form-control" id="ab" name="ab" required
                        #ab="ngModel">
                </div>
                <div class="form-group">
                    <label for="zero">ZERO</label>
                    <input type="text" [(ngModel)]="bloodAmount.zero" class="form-control" id="zero" name="zero"
                        required #zero="ngModel">
                </div>
            </ng-template>

            <div class="form-group">
                <button (click)="addBloodCenterAdmin()" class="btn btn-info">Add blood center admin</button>
            </div>

            <ng-template [ngIf]="showBloodCenterAdmin">
                <div class="form-group">
                    <label for="adminName">Name</label>
                    <input type="text" [(ngModel)]="bloodCenterAdmin.name" class="form-control" id="adminName"
                        name="adminName" required #adminName="ngModel">
                </div>
                <div class="form-group">
                    <label for="lastname">Lastname</label>
                    <input type="text" [(ngModel)]="bloodCenterAdmin.lastname" class="form-control" id="lastname"
                        name="lastname" required #lastname="ngModel">
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" [(ngModel)]="bloodCenterAdmin.username" class="form-control" id="username"
                        name="username" required #username="ngModel">
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="text" [(ngModel)]="bloodCenterAdmin.email" class="form-control" id="email" name="email"
                        required #email="ngModel">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" [(ngModel)]="bloodCenterAdmin.password" class="form-control" id="password"
                        name="password" required #password="ngModel">
                </div>
                <div class="form-group">
                    <label for="birthday">Birtday</label>
                    <input type="text" [(ngModel)]="bloodCenterAdmin.birthday" class="form-control" id="birthday"
                        name="birthday" required #birthday="ngModel">
                </div>
            </ng-template>

            <button (click)="addCenter()" class="btn btn-info">Submit</button>
        </form>
    </div>
</div>