<form class="form-inline md-form mr-auto mb-4">
    <input (keyup)="searchFun($event.target)" class="form-control mr-sm-2" type="text" placeholder="Search"
        aria-label="Search ">
</form>
<div class="card my-5">
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Blood Type</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Number of used Equipments</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let report of reports">
                    <td>{{ report.bloodType }}</td>
                    <td>{{ report.quantity }}</td>
                    <td>{{ report.numberOfEquipmentUsed }}</td>
                    <td>{{ report.description }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>