.demo-inline-calendar-card {
    width: 300px;
    height: 350px;
    margin-right: 10px;
    background-color: rgba(13, 167, 227, 0.473);
    color: white;
}

.positioning {
    display: flex;
}


.terminsTable {
    margin-left: 100px;
    border-radius: 8px;
    background-color: rgba(13, 167, 227, 0.473);
    color: white;
    padding-right: 50px;
    overflow-y: auto;
    height: 320px;
    color: white;
}