<li class="list-inline-item">
    <button class="btn btn-info" (click)="weeklyCalendar()">Weekly</button>
</li>
<li class="list-inline-item">
    <button class="btn btn-info" (click)="monthlyCalendar()">Monthly</button>
</li>
<li class="list-inline-item">
    <button class="btn btn-info" (click)="yearlyCalendar()">Yearly</button>
</li>

<div class="positioning" *ngIf="weekly">
    <mat-card class="demo-inline-calendar-card">
        <mat-calendar [(selected)]="selected" (click)="dateSelected()"></mat-calendar>
    </mat-card>

    <div class="terminsTable">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Datum termina:</th>
                    <th class="gap"></th>
                    <th scope="col">Trajanje:</th>
                    <th class="gap"></th>
                    <th scope="col">Ime:</th>
                    <th class="gap"></th>
                    <th scope="col">Prezime:</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let term of termins;">
                    <td>
                        <h3>{{term.date}}</h3>
                    </td>
                    <th class="gap"></th>
                    <td>
                        <h3>{{term.duration}}</h3>
                    </td>
                    <th class="gap"></th>
                    <td>
                        <h3>{{term.name}}</h3>
                    </td>
                    <th class="gap"></th>
                    <td>
                        <h3>{{term.lastname}}</h3>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="positioning" *ngIf="monthly">
    <mat-card class="demo-inline-calendar-card">
        <mat-calendar [(selected)]="selected" (click)="dateSelected()"></mat-calendar>
    </mat-card>

    <div class="terminsTable">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Datum termina:</th>
                    <th class="gap"></th>
                    <th scope="col">Trajanje:</th>
                    <th class="gap"></th>
                    <th scope="col">Ime:</th>
                    <th class="gap"></th>
                    <th scope="col">Prezime:</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let term of termins;">
                    <td>
                        <h3>{{term.date}}</h3>
                    </td>
                    <th class="gap"></th>
                    <td>
                        <h3>{{term.duration}}</h3>
                    </td>
                    <th class="gap"></th>
                    <td>
                        <h3>{{term.name}}</h3>
                    </td>
                    <th class="gap"></th>
                    <td>
                        <h3>{{term.lastname}}</h3>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="yearly">

    <select #yearSelected id="year" name="year" class="btn btn-info" (change)="selectedYear(yearSelected)">
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
    </select>

    <div class="terminsTable">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Datum termina:</th>
                    <th class="gap"></th>
                    <th scope="col">Trajanje:</th>
                    <th class="gap"></th>
                    <th scope="col">Ime:</th>
                    <th class="gap"></th>
                    <th scope="col">Prezime:</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let term of terminsYearly;">
                    <td>
                        <h3>{{term.date}}</h3>
                    </td>
                    <th class="gap"></th>
                    <td>
                        <h3>{{term.duration}}</h3>
                    </td>
                    <th class="gap"></th>
                    <td>
                        <h3>{{term.name}}</h3>
                    </td>
                    <th class="gap"></th>
                    <td>
                        <h3>{{term.lastname}}</h3>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>