<div class="appealForm">
    <form>
        <div>
            <label class="label">To:</label>
            <input type="text" class="textbox" (keyup)="getUsername($event.target)">
        </div>
        <div>
            <label class="label">Subject:</label>
            <input type="text" class="textbox2" (keyup)="getSubject($event.target)">
        </div>
        <div>
            <textarea class="textboxBig" (keyup)="getText($event.target)"></textarea>
            <button class=" btn btn-info" (click)="SendAppeal()"> Send</button>
        </div>
    </form>
</div>