<div class="card my-5">
    <div class="card-body">
        <form #userForm="ngForm">
            <div class="row col-12" *ngFor="let query of questions">
                <h6>{{query.description}}</h6>
                <div class="form-check mb-4">
                    <input class="form-check-input" type="radio" [(ngModel)] ="query.answer" [name]="query.id" [id]="query.id" [value]="true" />
                    <label class="form-check-label" for="radioExample1">
                        Yes
                    </label>
                </div>
                <div class="form-check mb-4">
                    <input class="form-check-input" type="radio" [(ngModel)] ="query.answer" [name]="query.id" [id]="query.id" [value]="false" />
                    <label class="form-check-label" for="radioExample2">
                        No
                    </label>
                </div>
            </div>
            <button class="btn btn-info" (click)="addQuery()">Submit</button>
        </form>
    </div>
</div>
