<body>
    <header>
        <h2 class="logo"><a href="">Blood Donation</a></h2>
        <nav class="navigation">
            <a href="/blood-centers" *ngIf="isLoggedIn">Centers</a>
            <a href="/user-history" *ngIf="role=='RegisteredUser'">User History</a>
            <a href="/appointments" *ngIf="isLoggedIn">Appointments</a>
            <a href="/qr-confirmation" *ngIf="isLoggedIn">QR Confirmation</a>
            <a href="/penalties" *ngIf="isLoggedIn">Penalties</a>
            <a href="/questionnaire" *ngIf="isLoggedIn">Questionnaire</a>
            <a href="/complaints" *ngIf="isLoggedIn">Complaints</a>
            <a href="/schedule-calendar" *ngIf="role=='Administrator'">Schedule Calendar</a>
            <!-- <button class="btn btn-primary" *ngIf="isLoggedIn" (click)="routeToCart()">View Cart</button> -->
            <button class="btnLogin-popup" *ngIf="!isLoggedIn" (click)="routeToSignUp()">Sign up</button>
            <button class="btnLogin-popup" *ngIf="!isLoggedIn" (click)="routeToSignIn()">Sign in</button>
            <button class="btnLogin-popup" *ngIf="isLoggedIn" (click)="signOut()">Sign out</button>

        </nav>
    </header>


</body>