<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/users" class="btn btn-info">List Users</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/adduser" class="btn btn-info">Add User</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/blood-centers" class="btn btn-info">List Centers</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/add-blood-center" class="btn btn-info">Add Centers</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/query" class="btn btn-info">Query</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/users-search" class="btn btn-info">User Search</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/edituser" class="btn btn-info">Edit User</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/edit-center" class="btn btn-info">Edit Center</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/editemployee" class="btn btn-info">Edit Employee</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/add-new-administrator" class="btn btn-info">Add administrator</a>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>