<li class="list-inline-item">
  <button class="btn btn-info" (click)="monthlyCalendar()">Monthly</button>
</li>
<li class="list-inline-item">
  <button class="btn btn-info" (click)="yearlyCalendar()">Yearly</button>
</li>

<div class="positioning" *ngIf="monthly">
  <mat-card class="demo-inline-calendar-card">
    <mat-calendar
      [(selected)]="selected"
      (click)="dateSelected()"
    ></mat-calendar>
  </mat-card>

  <div class="terminsTable">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Appointment Time:</th>
          <th class="gap"></th>
          <th scope="col">Duration:</th>
          <th class="gap"></th>
          <th scope="col">Patinet:</th>
          <th class="gap"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let term of termins"
          class="table-row"
          (click)="startAppointment(term.user.username)"
        >
          <td>
            <h3>{{ term.startTime }}</h3>
          </td>
          <th class="gap"></th>
          <td>
            <h3>{{ term.duration }}</h3>
          </td>
          <th class="gap"></th>
          <td>
            <h3>{{ term.user.username }}</h3>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="yearly">
  <select
    #yearSelected
    id="year"
    name="year"
    class="btn btn-info"
    (change)="selectedYear(yearSelected)"
  >
    <option value="2020">2020</option>
    <option value="2021">2021</option>
    <option value="2022">2022</option>
    <option value="2023">2023</option>
  </select>

  <div class="terminsTable">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Appoinment Time:</th>
          <th class="gap"></th>
          <th scope="col">Duration:</th>
          <th class="gap"></th>
          <th scope="col">Patient:</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let term of terminsYearly"
          class="table-row"
          (click)="startAppointment(term.user.username)"
        >
          <td>
            <h3>{{ term.startTime }}</h3>
          </td>
          <th class="gap"></th>
          <td>
            <h3>{{ term.duration }}</h3>
          </td>
          <th class="gap"></th>
          <td>
            <h3>{{ term.user.username }}</h3>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
