<form class="form-inline md-form mr-auto mb-4">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"
        (keyup)="searchFun($event.target)">
</form>
<div class="card my-5">
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.username }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>