<form class="form-inline md-form mr-auto mb-4">
  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"
    (keyup)="searchFun($event.target)">
</form>
<ng-template [ngIf]="showFilter">
  <form class="form-inline md-form mr-auto mb-2">
    <input class="form-control mr-sm-2" type="text" placeholder="Filter By" aria-label="Search"
      (keyup)="filterFun($event.target)">
  </form>
</ng-template>
<table mat-table [dataSource]="centers" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="averageRate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
      Average rate
    </th>
    <td mat-cell *matCellDef="let element"> {{element.averageRate}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by description">
      Description
    </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
      Name
    </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="address.city">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by city">
      City
    </th>
    <td mat-cell *matCellDef="let element"> {{element.address.city}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="address.street">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by street">
      Address
      Street
    </th>
    <td mat-cell *matCellDef="let element"> {{element.address.street}} </td>
  </ng-container>

  <ng-container matColumnDef="address.streetNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by streetNumber">
      Street Number
    </th>
    <td mat-cell *matCellDef="let element"> {{element.address.streetNumber}} </td>
  </ng-container>

  <!-- Bobane pomagaj ispisuj mi admine ovde,jer je bas tesko snaci se sta je sta ovde , ali mislim da sam na dobrom putu ovde dole. -->


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>